.todos-c{
  display: flex;
  justify-content: center;

  >div{
    width: 400px;

    .input-c{
      display: flex;

      button{
        margin-left: 10px;
      }
    }

    .list-c{
      padding: 10px 0;

      >div{
        line-height: 28px;
        padding: 5px;
        display: flex;
        justify-content: space-between;
      }
    }
  }
}