.ant-layout-sider {
  background: #001529;
  color: #fff;
}
.app-layout-sider-header {
  height: 70px;
  margin: 15px 0 10px;
}
.app-layout-sider-header-avater {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background: #ccc;
  margin-right: 8px;
  text-align: center;
}
.ant-layout-header {
  height: 55px;
  padding: 0 20px;
  background: #f0f2f5;
}
#app-layout-layout-content {
  background: #fff;
  padding: 8px;
}
